#root {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  /* padding: 2em; */
  flex: 1;
}

.read-the-docs {
  color: #888;
}
.header{
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('./assets/imgs/Header.jpg');
  height: 30vh;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  /* opacity: 0.5; */
  /* filter: brightness(0.4); */
  
}
main{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 2em;

}

.card-title{
  /* background-color: rosybrown; */
  text-align: start;
}
.card-buttons{
  /* background-color: rgb(34, 160, 160); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ingredientes{
  /* background-color: blue; */
  font-size: larger;
  padding: 10px;
  margin: 2em 0 2em 0;
}
.precio{
  /* background-color: aquamarine; */
  font-weight: bolder;
  font-size: xx-large;
}

footer{
  width: 100%;
  color:  white;
  background-color: #212529;
  padding: 15px 0 15px 0;
}